body {
  font-family: 'Bubblegum Sans', 'Comic Sans MS', sans-serif;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), /* White overlay with 70% opacity */
    url("../img/star-background.png");
  background-size: cover;
  cursor: url(https://cdn.custom-cursor.com/db/22254/32/color-pixels-cream-cake-cursor.png), default !important;
}

a:hover, button:hover {
  cursor: url(https://cdn.custom-cursor.com/db/22253/32/color-pixels-cream-cake-pointer.png), default !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-nav {
  background-color: #f495cd;
}

.primary-nav h1 span {
  margin-left: 1rem;
}

.secondary-nav {
  background-color: #EE53B5;
}

.secondary-nav .nav-item {
  border-right: .1875rem solid #E43FA4;
  min-width: 6rem;
  text-align: center;
  /* transition-duration: 0s; */
}

.secondary-nav .nav-item:hover,
.secondary-nav .nav-item:focus {
  background-color: #f495cd;
}

.secondary-nav .nav-item a:hover,
.secondary-nav .nav-item a:focus {
  color: #E43FA4;
}

.secondary-nav .nav-item.first {
  border-left: .1875rem solid #E43FA4;
}

.secondary-nav .nav-item a {
  color: white;
  transition-duration: 0s;
}

.dropdown-menu li a.dropdown-item {
  color: #E43FA4;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.account-actions a {
  font-size: 1.2rem;
  color: white;
}

.account-actions a:hover,
.account-actions a:focus {
  color: #E538A9;
}

.custom-separator {
  border-top: .0625rem solid #FBC2E5;
}

.user-card {
  border: .1875rem solid #ffb8de;
  margin-top: 1.75rem;
}

.user-card .card-body p:nth-of-type(1),
.user-card .card-body p:nth-of-type(3) {
  color: #AB6288;
}

.user-card .card-body p:nth-of-type(2) {
  line-height: 1.2;
}

.card-body {
  color: #E538A9;
}

.user-card button {
  background-color: #FEEBF7;
  border: .125rem solid #FBBCE4;
  color: #C470A4;
  width: 100%;
  border-radius: 1.875rem;
  transition-duration: 0s;
}

.user-card button:hover,
.user-card button:focus {
  background-color: #E538A9;
  color: white;
  border-color: #E538A9;
}

.actions-container {
  background-color: #FCDEF2;
  border-radius: 1.5625rem;
  border: .125rem solid #F9BBDF;
}

.actions-container > div {
  margin-block: 0.5rem;
}

.actions-container > p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.actions-container .list-group-item.first{
  border: none;
}

.actions-container .list-group-item{
  border: none;
  border-top: 0.0625rem solid #E0E0E0;
}

.actions-container p,
.actions-container .list-group-item {
  color: #AB6288;
}

.actions-container a li:hover,
.actions-container a li:focus {
  background-color: #E538A9;
  color: white;
}

.about-me {
  border: 0.0625rem solid #FBC2E5;
  border-radius: .375rem;
  color: #AB6288;
  border-color: #FBC2E5;
}

.about-me .card-header {
  background-color: #FEEAF7;
}

.about-me .list-group-item {
  color: #AB6288;
}

.main-content {
  margin-left: auto;
}

.jumbotron {
  background-color: #FDEAF7;
  border: .125rem solid #F495CD;
  border-radius: .375rem;
  color: #E43095;
  margin-block: 2rem;
}

.jumbotron .row {
  padding: 0.2rem 0.5rem;
}

.jumbotron div p {
  margin: 0;
  margin-left: 1rem;
}

.jumbotron div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jumbotron img.end {
  margin-left: auto;
}

.thought-text > * {
  color: #E538A9;
  margin: 0;
}

.food-posts .post-container:nth-child(2) a{
  margin: 0;
  margin-right: auto;
}

.post-container {
  border-radius: .375rem;
  border: .0625rem solid #F495CD;
  display: flex;
  box-shadow: .25rem .25rem 0 0 #F495CD;
  background-color: white;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem;
  justify-content: flex-start;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.post-container::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
}

.post-container::-webkit-scrollbar-track {
  background: #fff0f6;
  border-radius: .375rem;
}

.post-container::-webkit-scrollbar-thumb {
  background-color: #fff0f6;
  border-radius: .375rem;
  border: .125rem solid #F495CD;
}

.post-container::-webkit-scrollbar-thumb:hover {
  background-color: #E43095;
  cursor: url(https://cdn.custom-cursor.com/db/22253/32/color-pixels-cream-cake-pointer.png), default !important;
}

.post-container .post-text > * {
  margin-bottom: 0;
}

.post-container .post-text > *:first-child {
  margin-bottom: 0.5rem;
}

.post-container .post-text > *:nth-child(2) {
  font-size: 1.2rem;
  line-height: 1.2;
}

.post-container .post-text > *:last-child {
  text-align: end;
  margin-top: 1rem;
  color: #5289EA;
}

.post-container .post-text > *:last-child:hover,
.post-container .post-text > *:last-child:focus {
  text-decoration: underline;
}

.food-posts .post-container:nth-child(2),
.food-posts .post-container:nth-child(3) {
  padding: 1rem 1.5rem;
}

.food-posts .post-container:nth-child(3) {
  margin-top: 2rem;
}

.food-posts .post-container:nth-child(2) p {
  text-align: end;
  margin: 0;
  margin-top: 1rem;
}

.food-posts .post-container:nth-child(3) p {
  text-align: start;
  margin: 0;
  margin-top: 1rem;
}

.friend-card {
  color: #E43095;
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-card p {
  margin: 0;
}

.friend-card img:hover,
.friend-card img:focus {
  scale: 1.1;
  transition: scale 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pet-card:first-child {
  margin-left: auto;
}

.pet-card:last-child {
  margin-right: auto;
}

.pet-card {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  min-width: 15rem;
}

.pet-card-text {
  height: fit-content;
  margin: auto 0;
}

.pet-card .pet-card-text > * {
  margin: 0;
  color: #EE53B5;
  line-height: 1.3;
}

.pet-card .pet-card-text p:first-child {
  font-size: 1.2rem;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-play-button:focus {
  cursor: url(https://cdn.custom-cursor.com/db/22253/32/color-pixels-cream-cake-pointer.png), default !important;
}

audio::-webkit-media-controls-panel {
  background-color: #FCDEF2;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #FCDEF2;
}

audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    font-family: "Bubblegum Sans";
}