body {
  font-family: 'Bubblegum Sans', 'Comic Sans MS', sans-serif;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), /* White overlay with 70% opacity */
    url("../img/star-background.png");
  background-size: cover;
  cursor: url(https://cdn.custom-cursor.com/db/22254/32/color-pixels-cream-cake-cursor.png), default !important;
}

a:hover, button:hover {
  cursor: url(https://cdn.custom-cursor.com/db/22253/32/color-pixels-cream-cake-pointer.png), default !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-nav {
  background-color: #f495cd;
}

.secondary-nav {
  background-color: #EE53B5;
}

.secondary-nav .nav-item {
  border-right: 3px solid #E43FA4;
  min-width: 6rem;
  text-align: center;
}

.secondary-nav .nav-item.first {
  border-left: 3px solid #E43FA4;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.account-actions a {
  font-size: 19.2px;
  color: #FFDEF1;
}

.custom-separator {
  border-top: 1px solid #FBC2E5;
}

.user-card {
  border: 3px solid #F5CEE3;
}

.card-body {
  color: #E538A9;
}

.card-button {
  background-color: #FEEBF7;
  border: 2px solid #FBBCE4;
  color: #C470A4;
  width: 100%;
  border-radius: 30px;
}

.actions-container {
  background-color: #FCDEF2;
  border-radius: 25px;
  border: 2px solid #F9BBDF;
}

.actions-container .list-group-item.first{
  border: none;
}

.actions-container .list-group-item{
  border: none;
  border-top: 1px solid #E0E0E0;
}

.actions-container p,
.actions-container .list-group-item {
  color: #AB6288;
}

.about-me {
  border: 1px solid #FBC2E5;
  border-radius: 6px;
  color: #AB6288;
  border-color: #FBC2E5;
}

.about-me .card-header {
  background-color: #FEEAF7;
}

.about-me .list-group-item {
  color: #AB6288;
}

.main-content {
  margin-left: auto;
}

.jumbotron {
  background-color: #FDEAF7;
  border: 2px solid #F495CD;
  border-radius: 6px;
  color: #E43095;
  margin-block: 2rem;
}

.jumbotron div p {
  margin: 0;
  margin-left: 1rem;
}

.jumbotron div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jumbotron img.end {
  margin-left: auto;
}

.thought-text > * {
  color: #E538A9;
  margin: 0;
}

.post-container {
  border-radius: 6px;
  border: 1px solid #F495CD;
  box-shadow: .25rem .25rem 0 0 #F495CD;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem;
  justify-content: center;
  margin: 0;
}

.post-container .post-text > * {
  margin-bottom: 0;
}

.post-container .post-text > *:first-child {
  margin-bottom: 0.5rem;
}

.post-container .post-text > *:nth-child(2) {
  font-size: 1.2rem;
  line-height: 1.2;
}

.post-container .post-text > *:last-child {
  text-align: end;
  margin-top: 1rem;
  color: #5289EA;
}

.post-container .post-text > *:last-child:hover {
  text-decoration: underline;
}

.post-container .post-text > *:last-child > p {
  text-align: end;
  margin: 0;
  margin-top: 1rem;
}

.friend-card {
  text-align: center;
  color: #E43095;
}

.friend-card p {
  margin: 0;
}

.pet-card {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 29.16666667%; 
  flex-shrink: 0;
  max-width: 100%;
}

.pet-card .pet-card-text > * {
  margin: 0;
  color: #EE53B5;
}
audio {
  width: 100%;
}

audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    cursor: url(https://cdn.custom-cursor.com/db/22253/32/color-pixels-cream-cake-pointer.png), default !important;
}

audio::-webkit-media-controls-panel {
  background-color: #FCDEF2;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #FCDEF2;
}

audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    font-family: "Bubblegum Sans";
}
